body{
    margin: 50px;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: px;
    background-color: brown;
}
header img{
    border-radius: 300px;
    width: 150px;
    height: 150px;
    position: relative;
    top: 6px;
}
.b{
    display: flex;
    padding: 20px;
    background-color: #2c1d27;
    justify-content: space-between;
}
